*{
    margin:0px;
    padding:0px;
    font-family:Arial;
    font-size:14px; 
    color:#907762;
}

.contenedor{
    width:800px;
    margin:0px auto;  

}
.contenido2{
 	background:#FFF;
    padding:10px;
    margin-right:150px;
    min-height:150px;
   
}
.contenido{
	background:#907762;
   	border:#ccc solid 1px;
    border-radius:0px 0px 5px 5px;
    -moz-border-radius:0px 0px 5px 5px;  
    padding:0px;

}
.contenidoizda{
	margin-right: 250px;
}
.res_receta{
	
}
.contenidodcha ul{
	list-style:none;
}
.contenidodcha{
	float:right;
	text-align:left;
	width:230px;
	margin-left:20px;
	margin-top:-2px;
}
.contenidodcha .apartado{
	text-indent:0px;
}
.mejorvalorados{
	float:right;
	width:130px;
	padding:0px;
	color:#EDD366;
	background:#907762;
	font-size:10px;
	height: 100%;
	font-variant:small-caps;

	
}
.mejorvalorados a:link, .mejorvalorados  a:visited {
	color:#fff0b0;
}
.mejorvalorados p{
	width:100%;
	padding:3px;
	background:#907762;
	color:#45260B;
	margin-left: -20px;
}
.mejorvalorados li{
	padding:5px;
	
}
.mejorvalorados li:hover{
	background:#45260B;
	color:#FFF0B0;
	
}
.mejorvalorados li a:active{
	background:#45260B;
	color:#FFF0B0;
	
}
a:link{
	text-decoration:none;
}
ul{
	list-style:None;
}
p{
	margin:3px 0px;
}
p img{
	float:right;
}
.small{
	font-size:10px;
}
.small a:link, .small a:visited{
	font-size:10px;
	font-style:italic;
	text-decoration:underline;
	
}
form#buscar{
	margin-left: 15px;
	float:left;
	font-size:10px;
}
h2{
    border-bottom:solid 2px;
    margin:10px 0px;
    color:#45260b;
}
h1{
    padding:10px;
    font-variant-caps:titling-caps;
    font-size:28px;
    color:#edd366;
    text-shadow: 3px 3px 9px #45260b;
}
h3, h3 a{
	text-decoration:none;
	border-bottom: solid 2px #45260b;
	font-size:16px;
	color:#45260b;
	padding:3px;
	

	
}
h3 a:hover{
	
}
p em{
	margin:10px;
	
}
.ultimasRecetas{
	margin:25px 30px;
}
ul p{
	margin:5px 5px;
}
.apartado{
    font-weight:bold;
    text-indent:10px;
    line-height:25px;
    color:#45260b;
    
}
header{
    padding:10px;
    background:#edd366;
 	position:relative;
}

header ul{
	list-style:none;
	position:absolute;
	bottom:0px;
	right:0px;
	
}
header ul li{
	float:right;
	padding: 10px;
	
	
}
header ul li a:link,header ul li a {
	text-decoration:none;
    color:#45260b;

}
header ul li a:hover{
	text-decoration:none;
    color:#45260b;
    font-weight:bolder;

}


.clear{
	clear:both;
}
.fecha{
	border-top:solid 1px #45260b;
	margin-top:30px; 
}
ul.ultimasRecetas{
	border:solid 1px #45260B;
	border-radius:6px;
	-moz-border-radius:6px;
	padding:6px;
	margin:0px;
	
}

ul.ultimasRecetas li, ul.ultimasRecetas li a{
	font-size:12px;
	font-style: italic;
	text-decoration:underline;
}

ul.recetasUsuario li{
	border-top:solid 1px #45260B;
	border-bottom:solid 1px #45260B;
	padding:3px ;
}
.recetasUsuario img{
	float:right;
	margin:0px 5px;
}
#formreceta{
	background:	rgba(237, 211, 102, 0.34);
	border-radius:6px;
	-moz-border-radius:6px;
	padding:5px;
	margin-top:10px;
	
}
#formreceta #colizda{
	float:left;
	width:50%;
	overflow:hidden;
	
	
}
#formreceta #coldcha{
	float:left;
}
.cantidad{
	width:20px;
}
ul.errorlist{
	border:none;
	background:none;
	
}
ul.errorlist li	{
	border:none;
	background:none;
	color:#45260B;
	font-size:10px;
	
}
.votos{
	border-bottom:#907762 solid 1px;
	border-top:#907762 solid 1px;
	margin-top:30px;
	width:60%
}
/*  RESULTADOS */
p.resultadoing{
	font-weight:bolder;
	text-decoration:underline;
	color:#45260B;
}
ul.resultadoing li {
	text-indent:10px;
}
input{padding: 4px; margin:5px 0px; border-radius:6px;}
textarea{padding: 3px; margin:5px 0px; border-radius:6px;border:solid 1px #ccc}

/*  RECETA EN PDF */

