{% extends 'principal.html' %}
{% block content %}
<p>Estos son los {{ tipo }}s mejor valorados por los usuarios</p>

	<ul class="ultimasRecetas">
		{% if lstMejorValorados %}
			{% for receta in lstMejorValorados %}
			<h3><a href="detalles.php?id={{receta.id}}">{{ receta.nombre}}</a></h3>
			<p style="float:right"><img src="img/{{receta.foto}}"  height="120" width="200px"/></p>
			<div style="float:left">
				<p class="small">Creada el {{ receta.fecha_creacion }} por <a href ="#">{{receta.username}}</a></p>
				<p><em>{{ receta.descripcion }}</em></p>
				<p>votos: {{receta.votos}}</p>
			</div>
			<p class="clear"></p>
			{% endfor %}
		{% else %}
			<p>No hay recetas.</p>
		{% endif %}
	</ul>

      
{% endblock %}