{% extends 'principal.html' %}

{% block content %}
   
   <div class="contenidodcha">
   		<p><img src="img/{{receta.foto}}" height="150" width="230px"/></p>
   		<p class="apartado">Ingredientes</p>
   		<table>
   			
   		{% if ingredientes %}
   				{% for ingrediente in ingredientes %}
   				<tr>
   					<td>{{ingrediente.ingrediente}}</td>
					<td> {{ingrediente.cantidad}}  </td>
   					
   				</tr>
   					
   				{% endfor %}
   			{% else %}
   				<tr><td>Error interno. No se han grabado los ingredientes para esta receta</tr></td>
   		{% endif %}
   			
		</table>
   </div>
   <div class="contenidoizda">
	<h3>{{receta.nombre}}</h3>
	
	<p><span class="small">{{receta.tipo}}</span> <em>{{receta.descripcion}}</em></p>

    <p class="apartado">Preparacion <span class="small">{{receta.tiempo_elaboracion}}</span></p>
    <p>{{ receta.elaboracion}}</p>
	</div>
	<!-- {% if user.is_authenticated %}
          
         <p class="votos"> Votos: {{ receta.votos }} 
         
         {% if votar%}
        	 <a href="/recetas/votar/{{receta.id}}"> vota ahora (+1)</a></p>
         {%else %}
         	<a href="/recetas/retirar_voto/{{receta.id}}">ya has votado (-1)</a></p>
         {% endif%}
         
         {% else %}
          <p class="votos"> Votos: {{ receta.votos }}</p>
          <p>Si le gusta la receta registrese para poder votar</p>
          
          	
    {% endif %}-->
    <!--<p><a href="/recetas/pdf/{{receta.id}}"><img src="{{STATIC_URL}}/img/pdf.gif" height="50" width="50" title="Guardar en pdf" alt="Guardar en pdf"/></a></p>-->
	
	<p class="clear fecha small">Creada el {{receta.fecha_creacion}} por  <a href ="#">{{ receta.username }}</a> </p>
	<p class="small">Ultima edicion {{receta.fecha_ultima_edicion}}</p>

      
{% endblock %}

