{% extends 'principal.html' %}

{% block content %}
   <p class="small">Ressultados de: {{ filtro }}</p>

	
	<div class="contenidodcha">
		{% if ingredientes %}
			<p><strong>Ingredientes encontrados</strong></p>
			{% for key, ingrediente in ingredientes %}
			
					<p class="resultadoing">{{ key }}</p>
					<ul class="resultadoing">	
						{% for receta in ingrediente %}
							<li><a href="detalles.php?id={{ receta.id }}">{{receta.nombre}}</a></li>
						{% endfor %}
					</ul>
					
			{% endfor %}
		{% else %}
			<p><strong>No se han encontrado ingredientes relacionados</strong></p>
		{% endif %}
	</div>

   <div class="contenidoizda" >
 {% if recetas %}
   		<p><strong>Recetas encontradas</strong></p>
   		{% for receta in recetas %}
			<div class="res_receta">
   			<h3 style=" margin-right:180px "><a href="detalles.php?id={{ receta.id }}">{{ receta.nombre}}</a></h3>
			<img src="img/{{receta.foto}}" style="float:right;"height="80" width="160px"/>
			
				<p class="small">{{ receta.fecha_creacion }} por <a href ="#">{{receta.username}}</a></p>
				<p style="font-size:12px;"><em>{{ receta.descripcion }}</em></p>
				<br/>
		{% endfor %}	
	{% else %}
		<p><strong>No se han encontrado recetas relacionadas</strong></p>
		
	{% endif %}
	</div>
	<div class="clear"></div>


      
{% endblock %}

