{% extends 'principal_col2.html' %}
{% block content %}
{{ iniciar }}
	<form id = "formNuevo" method="post" action='conf_alta.php'>
		
			<label for="username">Introduzca nombre de usuario:</label>
				<input type="text" name="username" id="username"/> <br/>
				
			<label for="email">su email:</label>
				<input type="text" name="email" id="email"/> <br/>
			<label for="password">password:</label>
				<input type="password" name="bispassword" id="bispassword"/>
			<label for="bispassword">repite password:</label>
				<input type="password" name="bispassword" id="bispassword"/>
				
		<p><input type="submit" value="Registrar"></p>
		
	</form>

{% endblock %}

