{% extends 'principal.html' %}
{% block content %}

<p>Editar receta: </p>
<p><em>Preparar ingrediente</em> </p>

			<p><em>Preparar ingrediente</em> </p>
			<p class="small">Primero registre los ingredientes  que va a usar. Hacerlo mas tarde podría obligarle a rellenar de nuevo el formulario</p>
				<form name="ingredientes" action="crea_ingrediente.php" method="post">
					<label for="ingrediente">Ingrediente</label>
					<input type="text" name="ingrediente" id="ingrediente"/>
					
					<input type="submit" value="guarda ingrediente"/>
				</form>
<div id="formreceta">
		
    {% if receta_form.errors %}
        <p>{{ formreceta.errors }}</p>
    {% endif %}
 
    {% if formingr.errors %}
        <p>{{ formingr.errors }}</p>
    {% endif %}
		<form id="receta_nueva" action="guardar.php"  enctype="multipart/form-data" method='post'>

				<div id="colizda">
	
			
			<p><em>Informacion de la receta</em></p>
			 <table>
			 	<tr>
					<td><label for="nombre">Nombre: </label></td>
					<td><input type="text" name="nombre" id="nombre"/></td>		 	
			 	</tr>
			 	<tr>
					<td><label for="descripcion">Descripcion: </label></td>
					<td><input type="text" name="descripcion" id="descripcion"/></td>		 	
			 	</tr>
			 	<tr>
					<td><label for="tipo">Tipo: </label></td>
					<td><select name="tipo" id="tipo">
							<option value="Entrante">Entrante</option>
							<option value="Primero">Primero</option>
							<option value="Segundo">Segundo</option>
							<option value="Postre">Postre</option>
						</select></td>		 	
			 	</tr>
			 	<tr>
					<td><label for="preparacion">Preparación: </label></td>
					<td><textarea cols="25" rows="6" name="preparacion" id="preparacion"></textarea></td>		 	
			 	</tr>			 	
			 	<tr>
	                <td><label for="duracion">Duracion:</label></td>
	                <td><input type="text" name="duracion" id="duracion"/></td>
                </tr>
            <tr>
                <td><label for="foto">Foto:</label></td>
                <td><input type="file" name="imagen" id="foto"/></td>
            </tr> 
			 </table>
				<p><input type="submit" value="GUARDAR RECETA"></p>
				
			
				<p><input type="submit" value="GUARDAR RECETA"></p>
			</div>
			
			<div id="coldcha">
				<p><em>Ingredientes</em></p>
	
				<table id="ing"> 
					<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
        			<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
					<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
        			<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
        			<tr>
        				<input type="button" id="mas"value="Mas ingredientes"/>
			
        			</tr>
    			</table>
			</div>
			
			<p class="clear"> </p>
			
		</form>
		
		</div>
<script>
$(document).ready(function() {
	$("#mas").click(function() {
			fila = '<tr><td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td><td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td></tr>';

			$("#ing").append(fila);		
	});
});
</script>
{% endblock %}
