{% extends 'principal.html' %}
{% block content %}
<p>Bienvenido, estas son las últimas recetas que han registrado nuestros usuarios</p>

{% if ultimas_recetas %}
	<ul class="ultimasRecetas">
		{% for receta in ultimas_recetas %}

			<h3><a href="detalles.php?id={{receta.id}}">{{ receta.nombre}}</a></h3>
			<p style="float:right"><img src="img/{{receta.foto}}"  height="120" width="200px"/></p>
			<div style="float:left">

					<p class="small">Creada el {{ receta.fecha_creacion }} por {{ receta.username }} </p>
				<p><em>{{ receta.descripcion }}</em></p>
				<p>votos: {{receta.votos}}</p>
			</div>
			<p class="clear"></p>
		{% endfor %}

	</ul>
{% else %}
	<p>No hay recetas.</p>
{% endif %}

{% endblock %}

