{% extends 'principal_col2.html' %}
{% block content %}
<p>{{iniciar}}</p>
	<form id = "form" method="post" action="val_login.php">
		<form name="login" id="login" method="post">
			<label for="username">Username:</label>
				<input type="text" name="username" id="username"/> <br/>
				
			<label for="password">Password:</label>
				<input type="password" name="password" id="password"/>
			<input type="submit" value="Ingresar">
		</form>
		{% if error %}
			{{error}}
		{% endif %}
		
	</form>
{% endblock %}

