{% extends 'principal_col2.html' %}
{% block content %}

<p>Bienvenido {{usuario}}</p>
<!-- En el perfil cargaremos el listado de las recetas uqe haya registrado el usuario,
	dandole opción a modificarlas o borrarlas.
	y por otro lado cargaremos un listado con las ultimas recetas que se han registrado
	en la base de datos
	
	además el usuario tendra un formulario para agregar una receta, primero tendrá que
	insertar los ingredientes que necesita, porque si lo hace depsués, la información de 
	los campos se perderá-->
	<div class="contenidodcha" style="width: 200px;">
		<p class="apartado"> Recetas recientes</p>
		<ul class="ultimasRecetas">
			{% if ultimas_recetas %}
			
				{% for receta in ultimas_recetas%}
					<li><a href="detalles.php?id={{receta.id}}">{{receta.nombre}}</a></li>
				{%endfor%}
			
			{% else %}
				<p>Nadie ha registrado ninguna receta :( </p>
				
					{% for ingrediente in arringredientes %}
						<p>{{ingrediente}}</p>
					{% endfor %}
					{% for cantidad in arrcantidad %}
						<p>{{cantidad}}</p>
					{% endfor %}
			
			{% endif %}
		</ul>		
	</div>
	<div class="contenidoizda" style="margin-right: 220px;">
		<p class="apartado"> Tus recetas</p>
		<ul class="recetasUsuario">
		{% if recetas %}
			{% for receta in recetas%}
				<li>{{receta.nombre}}
					<a href='borrar.php?id={{receta.id}}'><img src="img/delete.jpg" height="10px" width="10px;"/></a>
					<a href='editar.php?id={{receta.id}}'><img src="img/edit.jpg" height="10px" width="10px;"/></a>
					<a href="detalles.php?id={{receta.id}}"> <img src="img/ver.png" height="10px" width="10px;"/></a>
				
				</li>
			{%endfor%}
		{% else %}
				<p>No has subido ninguna receta todavía</p>
		{% endif %}
		<p class="apartado">Añadir receta</p>

			<p><em>Preparar ingrediente</em> </p>
			<p class="small">Primero registre los ingredientes  que va a usar. Hacerlo mas tarde podría obligarle a rellenar de nuevo el formulario</p>
				<form name="ingredientes" action="crea_ingrediente.php" method="post">
					<label for="ingrediente">Ingrediente</label>
					<input type="text" name="ingrediente" id="ingrediente"/>
					
					<input type="submit" value="guarda ingrediente"/>
				</form>

		<div id="formreceta">
		
		<form id="receta_nueva" action="crear_receta.php"  enctype="multipart/form-data" method='post'>
				<div id="colizda">
			
			<p><em>Informacion de la receta</em></p>
			 <table>
			 	<tr>
					<td><label for="nombre">Nombre: </label></td>
					<td><input type="text" name="nombre" id="nombre"/></td>		 	
			 	</tr>
			 	<tr>
					<td><label for="descripcion">Descripcion: </label></td>
					<td><input type="text" name="descripcion" id="descripcion"/></td>		 	
			 	</tr>
			 	<tr>
					<td><label for="tipo">Tipo: </label></td>
					<td><select name="tipo" id="tipo">
							<option value="Entrante">Entrante</option>
							<option value="Primero">Primero</option>
							<option value="Segundo">Segundo</option>
							<option value="Postre">Postre</option>
						</select></td>		 	
			 	</tr>
			 	<tr>
					<td><label for="preparacion">Preparación: </label></td>
					<td><textarea cols="25" rows="6" name="preparacion" id="preparacion"></textarea></td>		 	
			 	</tr>			 	
			 	<tr>
	                <td><label for="duracion">Duracion:</label></td>
	                <td><input type="text" name="duracion" id="duracion"/></td>
                </tr>
            <tr>
                <td><label for="foto">Foto:</label></td>
                <td><input type="file" name="imagen" id="foto"/></td>
            </tr> 
			 </table>
				<p><input type="submit" value="GUARDAR RECETA"></p>
				
			
			</div>
			
			<div id="coldcha">
				<p><em>Ingredientes</em></p>
				<table id="ing"> 
					<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
        			<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
					<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
        			<tr> 
        					<td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td>
        					<td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td>
        			</tr>
        			<tr>
        				<input type="button" id="mas"value="Mas ingredientes"/>
			
        			</tr>
    			</table>

			</div>
			
			<p class="clear"> </p>
			
		</form>
		
		</div>
	</div>
	<div class="clear"> </div>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script>
$(document).ready(function() {
	$("#mas").click(function() {
			fila = '<tr><td><input type="text" name="ingrediente[]" id="ingrediente" placeholder="ingrediente"/></td><td><input type="text" size=5 name="cantidad[]" id="cantidad" placeholder="cantidad"/></td></tr>';

			$("#ing").append(fila);		
	});
});
</script>
{% endblock %}	

