
<!DOCTYPE html>
<html>
  <head>
    <title>Recetario</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
   <!--     <link rel="stylesheet" href="style.css">-->
  </head>
  <body>
    
    <div class="contenedor">
      <header>
          <h1>Recetario</h1>
          <ul>
        {% if usuario %}
          
         	<li><a href="#">Cerrar sesion</a></li> 
         	<li><a href="perfil.php">Perfil</a></li> 
         
        {% else %}
          	<li><a href="login.php">Iniciar sesion</a></li>
          	<li><a href="#">Registrarse</a></li>  	
          	
        {% endif %}
          <li><a href="index.php">Recetas</a></li>
          </ul>
   
          <form name="buscar" action="busquedas.php" method="GET" id = "buscar">
          	<input type="text" name="buscar" id="buscar"/>	<input type="submit" value="Buscar"><br/>
          	
          	<input type="checkbox" name="plato[]" value="Entrante"> Entrantes
			<input type="checkbox" name="plato[]" value="Primero">Primeros	
   			<input type="checkbox" name="plato[]" value="Segundo"> Segundos
			<input type="checkbox" name="plato[]" value="Postre">Postres
          </form>

          <p class="clear"></p>
      </header>
    
      <div class="contenido">
      	  
      	<div class="mejorvalorados">
      		<ul>
      			<p style="font-weight: bolder; border-bottom:inset 2px #45260B">Mejor valorados: </p>
      			<li><a href="mejorvalorados.php?tipo=Entrante">Entrantes</a></li>
      			<li><a href="mejorvalorados.php?tipo=Primero">Primeros</a></li>
      			<li><a href="mejorvalorados.php?tipo=Segundo">Segundos</a></li>
      			<li><a href="mejorvalorados.php?tipo=Postre">Postres</a></li>
      		</ul>
      	</div>
    	<div class="contenido2">
      		{% block content %}
      		{% endblock %}
      	</div>
      	<div class="clear"></div>
  	  </div>
    </div>
	


 
  </body>
  </html>