
<!DOCTYPE html>
<html>
  <head>
    <title>Recetario</title>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <div class="contenedor">
      <header>
          <h1>Recetario</h1>
          <ul>
        {% if usuario %}
          
         	<li><a href="#">Cerrar sesion</a></li> 
         	<li><a href="perfil.php">Perfil</a></li> 
         
        {% else %}
          	<li><a href="login.php">Iniciar sesion</a></li>
          	<li><a href="#">Registrarse</a></li>  	
          	
        {% endif %}
          <li><a href="index.php">Recetas</a></li>
          </ul>
   
          <form name="buscar" action="busquedas.php" method="GET" id = "buscar">
          	<input type="text" name="buscar" id="buscar"/>	<input type="submit" value="Buscar"><br/>
          	
          	<input type="checkbox" name="plato[]" value="Entrante"> Entrantes
			<input type="checkbox" name="plato[]" value="Primero">Primeros	
   			<input type="checkbox" name="plato[]" value="Segundo"> Segundos
			<input type="checkbox" name="plato[]" value="Postre">Postres
          </form>


          <p class="clear"></p>
      </header>
    
      <div class="contenido">

    	<div class="contenido2" style="margin-right:0px;">
      		{% block content %}
      		{% endblock %}
      	</div>
      	<div class="clear"></div>
  	  </div>
    </div>
	


 
  </body>